.guests {
  &__field {
    @extend .input;
    padding: 9px 0 9px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__dropdown {
    display: none;
    @extend .txt-h3;
    position: relative;
    top: -2px;
    padding: 7px 7px 13px 15px;
    background-color: #fff;
    border: 1px solid $text-dark-25;

    &--show {
      display: block;
    }

    &-minus,
    &-plus {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      height: 30px;
      width: 30px;
      cursor: pointer;
      border-radius: 50%;
      color: $text-dark-50;
      border: 1px solid $text-dark-25;
    }
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
    &-title {
    }
    &-controler {
      display: flex;
      align-items: center;
      width: 92px;
      justify-content: space-between;
    }
  }

  &__btns {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    @extend .txt-h3;
    background: #fff;
    border: none;
    color: $color-main;
    justify-content: space-between;
    cursor: pointer;
  }
}
