.guests
  .guests__title.txt-h3 Guests
  .guests__field#guests-input
    span.guests__text How many guests 
    i(class='material-icons') expand_more
  .guests__dropdown
    .guests__item
      .guests__item-title Adults
      .guests__item-controler
        .guests__dropdown-minus -
        span.guests__dropdown-count 0
        .guests__dropdown-plus +
    .guests__item
      .guests__item-title Children
      .guests__item-controler
        .guests__dropdown-minus -
        span.guests__dropdown-count 0
        .guests__dropdown-plus +
    .guests__item
      .guests__item-title Babies
      .guests__item-controler
        .guests__dropdown-minus -
        span.guests__dropdown-babies 0
        .guests__dropdown-plus +
    .guests__btns
      button.guests__btn.guests__btn-clear Clear
      button.guests__btn.guests__btn-done Done