.logo {
  display: flex;
  align-items: center;

  &__img {
    margin-right: 12.5px;
  }
  &__name {
    text-transform: uppercase;
    font-size: 20px;
    color: #a3a0fc;

    span {
      color: #6cd0b6;;
    }
  }
}