.calendar
  .calendar__title.txt-h1 Найдём номера под ваши пожелания
  .calendar__dates
    .calendar__date
      .calendar__subtitle.txt-h3 Прибытие
      .calendar__field
        | ДД.ММ.ГГГГ
        i(class='material-icons') expand_more
    .calendar__date
      .calendar__subtitle.txt-h3 Выезд
      .calendar__field
        | ДД.ММ.ГГГГ
        i(class='material-icons') expand_more
  .calendar__guests
    .calendar__subtitle.txt-h3 Гости
    .calendar__field 
      | Сколько гостей
      i(class='material-icons') expand_more
  a(href='').calendar__btn.btn.btn--fill.txt-h3
    span.btn__inner подобрать номер
    i(class='material-icons') arrow_forward
  //- p 
  //-   | Date:
  //-   input(type="text" id="datepicker" class='datepicker-here')