.calendar
  .calendar__title.txt-h1 We will find rooms according to your wishes
  .calendar__dates
    .calendar__date
      .calendar__subtitle.txt-h3 Arrival
      .calendar__field
        | DD.MM.YYYY
        i(class='material-icons') expand_more
    .calendar__date
      .calendar__subtitle.txt-h3 Departure
      .calendar__field
        | ДД.MM.YYYY
        i(class='material-icons') expand_more
  .calendar__guests
    .calendar__subtitle.txt-h3 Guests
    .calendar__field 
      | How many guests 
      i(class='material-icons') expand_more
  include ../buttons/buttons.pug
  +button({style:"fill", text:"pick up a room", link:"./search-room.html",arrow: true})
