.calendar {
  max-width: 380px;
  padding: 30px;
  padding-top: 40px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title {
    margin-bottom: 20px;
  }

  &__subtitle {
    margin-bottom: 6px;
  }

  &__field {
    @extend .input;
    padding: 9px 0 9px 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__dates {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__date {
    width: calc(50% - 10px);
    position: relative;
    i {
      position: absolute;
      top: 28px;
      right: 6px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
  }
  .guests {
    margin-bottom: 30px;

    &__title {
      margin-bottom: 6px;
    }
  }
}

//custom styles for air-datepiker
// .datepicker {
//   opacity: 1;
//   left: 0;
//   width: 320px;
// }
.datepicker--nav-title {
  font-size: 19px;
  font-weight: 700;
  font-family: $font-qs;
  color: $text-dark-100;
  i {
    color: inherit;
  }
}

.datepicker--nav {
  padding: 12px 10px;
}
.datepicker--content {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
}
.datepicker--nav-action path {
  stroke: $color-main;
}
.datepicker--day-name {
  color: $color-main;
  font-family: $font-mt;
  font-weight: 700;
  font-size: 12px;
}
.datepicker--cell {
  height: 38px;
}

.datepicker--cell-day {
  font-family: $font-mt;
  font-size: 12px;
  color: $text-dark-50;
}

@media screen and (max-width: 768px) {
  .calendar {
    margin: 0 auto;
  }
}
@media screen and (max-width: 414px) {
  .calendar {
    padding: 15px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 350px) {
  .calendar {
    &__title {
      font-size: 19px;
    }
    &__field {
      padding: 9px 0 9px 7px;
    }
  }
}
