.calendar
  .calendar__title.txt-h1 We will find rooms according to your wishes
  .calendar__dates
    .calendar__date
      .calendar__subtitle.txt-h3 Arrival
      input(type='text',class='datepicker-here', placeholder='DD.MM.YYYY', readonly).calendar__field
        //- | DD.MM.YYYY
      i(class='material-icons') expand_more
    .calendar__date
      .calendar__subtitle.txt-h3 Departure
      input(type='text',class='datepicker-here', placeholder='DD.MM.YYYY', readonly).calendar__field
        //- | ДД.MM.YYYY
      i(class='material-icons') expand_more
  include ../guests/guests.pug

  include ../buttons/buttons.pug
  +button({style:"fill", text:"pick up a room", link:"./search-room.html",arrow: true})
