header.main-header
  .container
    .main-header__wrapper
      include ../logo/logo.pug
      nav.main-nav
        ul.main-nav__list.txt-body
          li.main-nav__item
            a(href="").main-nav__link About Us
          li.main-nav__item
            a(href="").main-nav__link Services
              i(class="material-icons") expand_more
          li.main-nav__item
            a(href="").main-nav__link Vacancy
          li.main-nav__item
            a(href="").main-nav__link News
          li.main-nav__item
            a(href="").main-nav__link Convention
              i(class="material-icons") expand_more
      .log-in
        include ../buttons/buttons.pug
        +button({style:"border",text:"Log In",link:"#"})
        +button({style:"fill",text:"Registration",link:"#",adClass:" log-in__reg"})