header.main-header
  .container
    .main-header__wrapper
      include ../logo/logo.pug
      nav.main-nav
        ul.main-nav__list.txt-body
          li.main-nav__item
            a(href="").main-nav__link О нас
          li.main-nav__item
            a(href="").main-nav__link Услуги
              i(class="material-icons") expand_more
          li.main-nav__item
            a(href="").main-nav__link Вакансии
          li.main-nav__item
            a(href="").main-nav__link Новости
          li.main-nav__item
            a(href="").main-nav__link Соглашения
              i(class="material-icons") expand_more
      .log-in
        include ../buttons/buttons.pug
        +button({style:"border",text:"Войти",link:"#"})
        +button({style:"fill",text:"Зарегистрироваться",link:"#",adClass:" log-in__reg"})


             