mixin footerList(options)
  ul.footer__list
    .footer__title.txt-h3= options.title
    each el in options.list
      li.footer__list-item
        a.footer__list-link= el

footer.footer.txt-body
  .container
    .footer__top
      .footer__item.footer__descr
        .footer__logo
          include ../logo/logo.pug
        p.footer__logo-text Booking rooms in the best hotel in 2019 according to the &#xab;Hotel Views Association&#xbb;
      .footer__item.footer__nav
        +footerList({title: "Navigation",list:['About Us', 'News', 'Support service', 'Services']})
      .footer__item.footer__about
        +footerList({title: "About Us",list:['About Service', 'Our Team', 'Vacancies', 'Investors']})
      .footer__item.footer__help
        +footerList({title: "Support serviceи",list:['Convention', 'Communities', 'Contact us']})
      .footer__item.footer__subscribe
        .footer__title.txt-h3 Subscribe
        .footer__subscrib-text Get special offers and service news
        .footer__subscrib-input
          input(type='email', placeholder='Email')
          i(class='material-icons') arrow_forward

    .footer__bottom
      .footer__rights
        Copyright &copy; 2047 Rooms Hotel. All materials from fullsteck-development learning program.All code by mr.Little-Boner
      .footer__socials
        div
          i(class="fab fa-twitter")
          i(class="fab fa-facebook-square")
          i(class="fab fa-instagram")