doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="mrLittleBoner")
    meta(name="description" , content="Find best hotel and room online with RoomS || Book now and get discount || We are the best web hotel searcher since 2008")
    meta(name="keywords", content="Book Hotel Online, Booking , Hotels, Rooms, Online book with discount")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
    title RoomS || Find best Hotel and Rooms online || Online now for discount
  body
    include ./components/header/header.pug
    .icon
