extends ./layouts/main-layout.pug 

block head
      meta(name="description" , content="Find best hotel and room online with RoomS || Book now and get discount || We are the best web hotel searcher since 2008")
      meta(name="keywords", content="Book Hotel Online, Booking , Hotels, Rooms, Online book with discount")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons",rel="stylesheet")
      title RoomS || Find best Hotel and Rooms online || Online now for discount 

block body
  include ./components/header/header.pug
  main.bg-image-home
    .container
      section.home-main
        .home-main__calendaer
          include ./components/calendar/calendar.pug
        .home-main__text.txt-body The best rooms for your work, relaxation and just inspiration

  include ./components/footer/footer.pug