.dets {
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__photos {
    display: grid;
    grid-template-columns: 2.2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 70px;

    img {
      width: 100%;
      align-self: stretch;

      &:nth-child(1) {
        grid-row: span 2;
      }
      &:nth-child(2) {
        height: 101%;
      }
    }
  }
  &__left {
    width: 62.45%;
  }

  &__left-info {
    display: flex;
    margin-bottom: 30px;
  }

  &__title {
    @extend .txt-h2;
    margin-bottom: 20px;
  }
}

.room-dets {
  max-width: 280px;
  margin-right: 6.1%;
  &-title {
  }

  &__icon {
    display: flex;

    i {
      font-size: 48px;
      margin-right: 10px;
      background: $gradient-primary;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__item {
    display: flex;
  }
  &__content {
    font-family: $font-mt;
    color: $text-dark-75;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__name {
    font-weight: 700;
  }

  &__descr {
    font-weight: 400;
  }

  &__line {
    border-color: rgba(31, 32, 65, 0.1);
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

.room-impressions {
  &__content {
    display: flex;
    align-items: center;
  }
  &__circle {
    position: relative;

    &-inner {
      color: $color-main;
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
    }

    &-count {
      font-size: 24px;
      font-family: $font-qs;
    }
    &-votes {
      font-size: 14px;
      font-family: $font-mt;
      text-transform: uppercase;
    }
  }
  &__list {
    margin-left: 20px;
  }
  &__item {
    @extend .txt-body;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    span {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 5px;
    }
  }
  &__great {
    background-color: #ffe39c;
  }
  &__good {
    background-color: #6fcf97;
  }
  &__normal {
    background-color: #bc9cff;
  }
  &__bad {
    background-color: #919191;
  }
}

.reviews {
  .reviews__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &-name {
      @extend .txt-h2;
    }

    &-count {
      @extend .txt-body;
      margin-left: auto;
    }
  }
}

.review {
  margin-bottom: 22px;
  &__author {
    display: flex;
    align-items: center;
    font-family: $font-mt;
    font-size: 14px;
    margin-bottom: 10px;
    color: $text-dark-75;

    &-avatar {
      margin-right: 10px;
    }

    &-name {
      font-weight: 700;
      margin-bottom: 5px;
    }
  }

  &__content {
    display: flex;
  }

  &__text {
    @extend .txt-body;
    line-height: 24px;
  }

  &__likes {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: $text-dark-25;
    cursor: pointer;
    border: 1px solid $text-dark-25;
    border-radius: 10px;
    font-size: 10px;
    width: 40px;
    height: 20px;
    margin-right: 10px;

    i {
      font-size: 10px;
      flex-basis: 0px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &--liked {
      border-color: $color-main;
      color: $color-main;
    }
  }
}

.rules {
  display: flex;
  justify-content: space-between;

  &__title {
    @extend .txt-h2;
    margin-bottom: 20px;
  }

  &__list {
    max-width: 292px;

    &-item {
      @extend .txt-body;
      display: flex;
      margin-bottom: 10px;
      position: relative;

      &::before {
        position: absolute;
        left: -20px;
        top: 4px;
        content: "";
        width: 10px;
        height: 10px;
        background-color: $text-dark-25;
        border-radius: 50%;
      }
    }
  }

  &__cancel {
    max-width: 341px;

    &-text {
      @extend .txt-body;
      line-height: 24px;
    }
  }
}

.book {
  padding: 40px 30px 30px 30px;
  width: 380px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: max-content;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__number {
    font-family: $font-qs;
    font-weight: 700;
    margin-bottom: 20px;

    &::after {
      content: "Lux";
      color: $color-main;
      font-size: 12px;
      font-family: $font-mt;
      font-weight: 700;
      margin-left: 5px;
    }

    .symbol {
      font-size: 14px;
    }
    .numbers {
      font-size: 24px;
    }
  }
  &__price {
    font-family: $font-mt;
    font-weight: 700;
    font-size: 14px;
    color: $text-dark-50;

    span {
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.book__dates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &-title {
    @extend .txt-h3;
    margin-bottom: 5px;
  }
  &-input {
    @extend .input-field;
    color: $text-dark-75;
  }
  &-arrival,
  &-departure {
    width: calc(50% - 20px);
  }
}

.book__guest {
  margin-bottom: 21px;

  &-title {
    @extend .txt-h3;
    margin-bottom: 5px;
  }
  &-input {
    @extend .input-field;
    color: $text-dark-75;
  }
}

.book__cost {
  margin-bottom: 30px;

  &-item {
    @extend .txt-body;
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.book__sum {
  display: flex;
  font-size: 19px;
  color: $text-dark-100;
  font-weight: 700;
  font-family: $font-mt;
  margin-bottom: 20px;

  &-decorate {
    flex-grow: 1;
    border-bottom: 1px dashed grey;
    position: relative;
    bottom: 4px;
  }
}
