.search-main__content {
  display: flex;
}

.search-main__left {
  max-width: 266px;
  margin-right: 5.2%;
}

.filter {
  transition: all 0.3s linear;
}

.filter__dates {
  margin-bottom: 20px;
}

.filter__range {
  &-titles {
    display: flex;
    justify-content: space-between;
  }
  &-trigger {
    height: 30px;
    width: 100%;
    background: teal;
  }
  &-price,
  &-text {
    font-family: $font-mt;
    color: $text-dark-50;
    font-size: 12px;
  }
}

.filter__rules {
  &-title {
    margin-bottom: 17px;
  }
}

.filter__acces {
  &-title {
    margin-bottom: 16px;
  }
}

.filter__comfort {
  &-title {
    margin-bottom: 5px;
  }
}

.filter__more {
  &-title {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 18px;
  }
}

.filter__guests,
.filter__range,
.filter__rules,
.filter__acces,
.filter__comfort {
  margin-bottom: 30px;
}

.filter__dates,
.filter__guests {
  .input-title {
    margin-bottom: 6px;
  }
}

.results {
  flex-grow: 1;

  &__title {
    @extend .txt-h1;

    margin-bottom: 20px;
  }
}

.pagination {
  text-align: center;

  &__btns {
    font-family: $font-mt;
    font-weight: 400;
    font-size: 12px;
    color: $text-dark-50;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 11px;

    a {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-of-type {
        background: $color-secondary;
        background: $gradient-secondary;
      }
    }

    i {
      margin-left: 0;
      flex-basis: auto;
      color: #fff;
    }

    &-active {
      background: $color-main;
      background: $gradient-primary;
      color: #fff;
    }
  }
  &__sub {
    font-family: $font-mt;
    font-weight: 400;
    font-size: 14px;
    color: $text-dark-75;
  }
}

.search-main__mobile-filter {
  display: none;
  position: fixed;
  background: #ffffff;
  padding: 5px;
  left: -15px;
  border-radius: 4px;
  top: 20%;
  z-index: 10;
  font-size: 20px;
  font-family: $font-qs;
  transform: rotate(-90deg);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s linear;
  cursor: pointer;

  &--open {
    left: 240px;
  }
}
