// Base //
*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.material-icons {
  line-height: 0.1;
}

// Variables //
$gradient-primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

$font-mt: 'Montserrat', sans-serif;
$font-qs: 'Quicksand', sans-serif;

$text-dark-100:#1F2041;
$text-dark-75:rgba(31, 32, 65, 0.75);
$text-dark-50:rgba(31, 32, 65, 0.5);
$text-dark-25:rgba(31, 32, 65, 0.25);
$text-dark-5:rgba(31, 32, 65, 0.05);

$color-main: #BC9CFF;
$color-secondary:#6FCF97;

// Typography //
.txt-h1 {
  color: $text-dark-100;
  font-size: 24px;
  font-family: $font-qs;
  font-weight: 700;
}
.txt-h2 {
  color: $text-dark-100;
  font-size: 19px;
  font-family: $font-qs;
  font-weight: 700;
}
.txt-h3 {
  text-transform: uppercase;
  color: $text-dark-100;
  font-size: 12px;
  font-family: $font-mt;
  font-weight: 700;
}
.txt-body {
  color: $text-dark-75;
  font-size: 14px;
  font-family: $font-mt;
  font-weight: normal;
}

// Utility Classes //
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border-radius: 22px;
  text-transform: uppercase;
  overflow: hidden;
  border: 2px solid transparent;

  &__inner{
    display: block;
    padding: 9px 20px 10px;
  }

  &--fill{
    background: rgb(188,156,255);
    background: $gradient-primary;
    color: #fff;
    background-origin: border-box;
  }

  &--border {
    background: rgb(188,156,255);
    background-image: $gradient-primary;
    
    color: $color-main;
    background-origin: border-box;

    span {
      background: #fff;
    }
  }
  &--disable {
    opacity: .5;
  }
}

