// Base //
*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.material-icons {
  margin-left: auto;
  flex-basis: 32px;
}

// Variables //
$gradient-primary: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$gradient-secondary: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

$font-mt: 'Montserrat', sans-serif;
$font-qs: 'Quicksand', sans-serif;

$text-dark-100:#1F2041;
$text-dark-75:rgba(31, 32, 65, 0.75);
$text-dark-50:rgba(31, 32, 65, 0.5);
$text-dark-25:rgba(31, 32, 65, 0.25);
$text-dark-5:rgba(31, 32, 65, 0.05);

$color-main: #BC9CFF;
$color-secondary:#6FCF97;

// Typography //
.txt-h1 {
  color: $text-dark-100;
  font-size: 24px;
  font-family: $font-qs;
  font-weight: 700;
}
.txt-h2 {
  color: $text-dark-100;
  font-size: 19px;
  font-family: $font-qs;
  font-weight: 700;
}
.txt-h3 {
  text-transform: uppercase;
  color: $text-dark-100;
  font-size: 12px;
  font-family: $font-mt;
  font-weight: 700;
}
.txt-body {
  color: $text-dark-75;
  font-size: 14px;
  font-family: $font-mt;
  font-weight: normal;
}

// Utility Classes //
.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

// Main Input syle //
.input {
  padding: 12px 0 12px 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid $text-dark-25;
  width: 100%;
  color: $text-dark-75;
  font-family: $font-mt;
  font-size: 14px;

  &:hover,
  &:active,
  &:focus {
    border-color: $text-dark-50;
  }
}
.input-title {
 @extend .txt-h3;
}
.input-field {
  @extend .txt-body;
  display: flex;
  
  padding: 12px 0 12px 15px;
  border-radius: 4px;
  outline: none;
  border: 1px solid $text-dark-25;
  width: 100%;
  color: $text-dark-75;
  font-family: $font-mt;
  font-size: 14px;

  &:hover,
  &:active,
  &:focus {
    border-color: $text-dark-50;
  }
  i {
    line-height: 0.7;
  }
}

.checkbox {

  label {
    display: flex;
    font-family: $font-mt;
    font-size: 14px;
    color: $text-dark-50;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .custom-checkbox {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid $text-dark-25;
    border-radius: 4px; 
    margin-right: 10px;
    position: relative;

    &::before {
      display: none;
      position: absolute;
      content: "";
      width: 6px;
      height: 8px;
      top: 4px;
      left: 6px;
      transform: rotate(45deg);
      border-width: 0 2px 2px 0;
      border-style: solid;
      border-image: $gradient-primary;
      border-image-slice: 1;
    }
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  input:checked ~ .custom-checkbox {
    border-color: $color-main;
  }
  input:checked ~ .custom-checkbox::before {
    display: block;
  }
}
