doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="author", content="mrLittleBoner")
    block head
  body
    block body
    script(src="https://kit.fontawesome.com/6049cc87c8.js", crossorigin="anonymous")